@{
    Layout = null;
}
<form method="get" asp-action="index" asp-controller="Home">
    <div class="text-center" style="background-color:purple">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-6 g-0 justify-content-between" style="padding:10px;">
            <div class="col-2">
                <div> <i class="bi bi-globe-americas" style="color:white" title="região"></i> </div>
            </div>
            <div class="col-2">
                <div> <i class="bi bi-calendar3" style="color:white" title="safra"> </i> </div>
            </div>
            <div class="col-2">
                <div> <i class="bi bi-upc-scan" style="color:white" title="produtor"></i> </div>
            </div>
            <div class="col-2">
                <div> <i class="bi bi-currency-dollar" style="color:white" title="promoções"> </i> </div>
            </div>
            <div class="col-2">
                <div> <i class="bi bi-shadows" style="color:white" title="variedade"></i> </div>
            </div>
            <div class="col-2">
                <div> <i class="bi bi-cart4" style="color:white" title="meu carrinho"></i> </div>
            </div>
        </div>
    </div>
</form>

